{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

	{% if data.id %}
    <ol class="breadcrumb">
        <li>Editando a categoria <strong>{{ data.name }}</strong></li>
    </ol>
    {% endif %}

    {% include 'macro.twig' with {messages: messages} %}

    <div class="jumbotron no-margin-bottom">
	    <form class="form-horizontal" method="post" action="/app/categories">

	    	<fieldset>
	    		<legend>Categoria</legend>

	    		<input type="hidden" name="id" value="{{ data.id }}">

		    	<div class="form-group">
		    		<label for="name" class="control-label no-padding-right col-xs-3">Nome</label>
		    		<div class="col-xs-9">
		    			<input type="text" minlength="3" value="{{ data.name }}" maxlength="25" id="name" autofocus required name="name" class="form-control">
		    		</div>
		    	</div>

		    	<div class="form-group">
		    		<label for="hexcolor" class="control-label no-padding-right col-xs-3">Cor no gráfico</label>
		    		<div class="col-xs-9">
		    			<select name="hexcolor" id="hexcolor" class="form-control">
		    				<option value="">Não exibir no gráfico</option>
		    				{% for hex, color in colors %}
		    				<option {{ data.hexcolor == hex ? 'selected' : '' }} value="{{ hex }}">{{ color }}</option>
		    				{% endfor %}
		    			</select>
		    		</div>
		    	</div>
	    	</fieldset>

	    	<div class="form-group no-margin-bottom">
	    		<div class="col-xs-9 col-xs-offset-3">
	    			<button {% if data.id %}onnoclick="return confirm('Confirma a edição de \'{{ data.name }}\'?')"{% endif %} class="btn btn-primary" type="submit">Salvar</button>

	    			<a class="btn btn-link" href onclick="history.back()">Voltar</a>
	    		</div>
	    	</div>
	    </form>
    </div>

{% endblock %}