{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <div class="row hidden-print" style="margin-bottom:20px">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/categories/form">Adicionar</a>
            <a class="btn btn-default pull-right" href onclick="print()"><i class="glyphicon glyphicon-print"></i></a>
        </div>
    </div>

    <h5 class="visible-print">{{ report_title }}</h5>

    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-striped no-margin-bottom table-bordered">
    	<thead>
    		<tr>
                <th>Nome</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
                <td>
                    <a href="/app/categories/{{ row.id }}/edit">{{ row.name }}</a>
                    <a id="delete-category-{{ loop.index }}" title="Apagar registro" class="pull-right hidden-print" onbsclick="return confirm('Deseja realmente APAGAR \'{{ row.name }}\'?')" href="/app/categories/{{ row.id }}/delete" style="color:red"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>

    <p class="visible-print pull-right" style="margin-top:10px">{{ report_footer }}</p>
{% endblock %}