{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <div class="row hidden-print" style="margin-bottom:20px">
        <div class="col-xs-12">
            <a class="btn btn-default" href="/app/categories/form">Adicionar</a>
            <a class="btn btn-default pull-right" href onclick="print()"><i class="glyphicon glyphicon-print"></i></a>
        </div>
    </div>

    <h5 class="visible-print">{{ report_title }}</h5>

    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-striped no-margin-bottom table-bordered">
    	<thead>
    		<tr>
                <th>Nome</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
                <td>
                    <a class="pull-left btn-link" href="/app/categories/{{ row.id }}/edit">{{ row.name }}</a>

                    <span title="{{ row.hexcolor ? 'Aparece no gráfico' : 'Não aparece no gráfico' }}" style="background-color:{{ '#' ~ row.hexcolor }}; display:block; width:10px; height:10px; float:left; border-radius: 100px; margin-left: 10px; margin-top:6px"></span>
                    
                    <a id="delete-category-{{ loop.index }}" title="Apagar registro" class="pull-right hidden-print table-row-btn" onclick="return confirm('Deseja realmente APAGAR \'{{ row.name }}\'?')" href="/app/categories/{{ row.id }}/delete" style="color:red"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>

    <p class="visible-print pull-right" style="margin-top:10px">{{ report_footer }}</p>
{% endblock %}