{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/peoples/form">Adicionar</a>
        </div>
    </div>

    <hr>

    {% include 'macro.twig' with {messages: messages} %}
    
    <table class="table table-striped">
    	<thead>
    		<tr>
                <th>Nome</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
    			<td>
                    <a href="/app/peoples/{{ row.id }}/edit">{{ row.name }}</a>
                    <a id="delete-person-{{ loop.index }}" title="Apagar registro" class="pull-right" onbsclick="return confirm('Deseja realmente APAGAR \'{{ row.name }}\'?')" href="/app/peoples/{{ row.id }}/delete" style="color:red"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}