{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <h2>{{ title }}</h2>

    <p><a href="/app/peoples/form">Adicionar Pessoa</a></p>

    <table class="table">
    	<thead>
    		<tr>
    			<th>#ID</th>
    			<th>Nome</th>
    			<th>Criado</th>
    			<th>Atualizado</th>
    			<th>Apagado</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
    			<td>{{ row.id }}</td>
    			<td>{{ row.name }}</td>
    			<td>{{ row.created_at }}</td>
    			<td>{{ row.updated_at }}</td>
    			<td>{{ row.deleted_at }}</td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}