{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <div class="row hidden-print" style="margin-bottom:20px">
        <div class="col-xs-12">
            <a id="add-people" class="btn btn-default" href="/app/peoples/form">
                <i class="glyphicon glyphicon-plus"></i>
            </a>

            <a class="btn btn-default pull-right" href onclick="print()">
                <i class="glyphicon glyphicon-print"></i>
            </a>
        </div>
    </div>

    <h5 class="visible-print">{{ report_title }}</h5>
    
    {% include 'macro.twig' with {messages: messages} %}
    
    <table class="table table-striped table-bordered no-margin-bottom">
    	<thead>
    		<tr>
                <th>Nome</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
    			<td>
                    <a class="btn-link" href="/app/peoples/{{ row.id }}/edit">{{ row.name }}</a>

                    <a id="delete-person-{{ loop.index }}" title="Apagar registro" class="pull-right hidden-print table-row-btn" onclick="return confirm('Deseja realmente APAGAR \'{{ row.name }}\'?')" href="/app/peoples/{{ row.id }}/delete" style="color:red"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>

    <p class="visible-print pull-right" style="margin-top:10px">{{ report_footer }}</p>
{% endblock %}