{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <h3>{{ title }}</h3>

    <ul>
    	<li><a href="/app/releases">Lista de Lançamentos</a></li>
    </ul>

    {% include 'macro.twig' with {error:error} %}

    <div class="jumbotron no-margin-bottom">
	    <form class="form-horizontal" method="post" action="/app/releases">

	    	<input type="hidden" name="id" value="{{ data.id }}">

	    	<div class="form-group">
	    		<label for="natureza" class="control-label col-xs-2">Natureza</label>
	    		<div class="col-xs-5">
	    			<select autofocus class="form-control" id="natureza" name="natureza" required>
	    				<option {% if data.natureza == 1 %}selected{% endif %} value="1">Receita</option>
	    				<option {% if data.natureza == 2 %}selected{% endif %} value="2">Despesa</option>
	    			</select>
	    		</div>
	    	</div>

	    	<div class="form-group">
	    		<label for="people_id" class="control-label col-xs-2">Pessoa</label>
	    		<div class="col-xs-10">
	    			<select class="form-control" id="people_id" name="people_id" required>
	    				<option></option>
	    				{% for r in peoples %}
	    				<option {% if r.id == data.people_id %}selected{% endif %} value="{{ r.id }}">{{ r.name }}</option>
	    				{% endfor %}
	    			</select>
	    		</div>
	    	</div>

	    	<div class="form-group">
	    		<label for="category_id" class="control-label col-xs-2">Categoria</label>
	    		<div class="col-xs-10">
	    			<select class="form-control" id="category_id" name="category_id" required>
	    				<option></option>
	    				{% for r in categories %}
	    				<option {% if r.id == data.category_id %}selected{% endif %} value="{{ r.id }}">{{ r.name }}</option>
	    				{% endfor %}
	    			</select>
	    		</div>
	    	</div>

	    	<div class="form-group">
	    		<label for="quantity" class="control-label col-xs-2">Qtd. Parcelas</label>
	    		<div class="col-xs-5">
	    			<input type="number" min="1" max="99" id="quantity" required name="quantity" value="1" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group">
	    		<label for="value" class="control-label col-xs-2">Valor</label>
	    		<div class="col-xs-5">
	    			<input step="0.01" type="number" min="1" value="{{ data.value }}" max="99999999" id="value" required name="value" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group">
	    		<label for="data_vencimento" class="control-label col-xs-2">Vencimento</label>
	    		<div class="col-xs-5">
	    			<input type="date" min="1" value="{{ data.data_vencimento }}" max="99" id="data_vencimento" required name="data_vencimento" value="1" class="form-control">
	    		</div>
	    	</div>

	    	<div class="form-group no-margin-bottom">
	    		<div class="col-xs-10 col-xs-offset-2">
	    			<button {% if data.id %} onclick="return confirm('Confirma a edição do lançamento nº {{ data.number }}?')" {% endif %} class="btn btn-primary" type="submit">Salvar</button>
	    		</div>
	    	</div>
	    </form>
    </div>

{% endblock %}