{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

    <style type="text/css">
    body {
        min-width: 750px
    }
    </style>

    <div class="row hidden-print" style="margin-bottom:20px">
        <div class="col-xs-12">
            <a id="add-release" class="btn btn-default" href="/app/releases/form">
                <i class="glyphicon glyphicon-plus"></i>
            </a>

            {% if hasReleasesForGroup %}
            <a class="btn btn-default" href="/app/releases/group">Agrupar</a>
            {% else %}
            <a title="Não há lançamentos disponíves para agrupar" class="btn btn-default" href>Agrupar</a>
            {% endif %}

            <a id="prev-month" style="margin-left:10px" title="Voltar 1 mês" class="btn btn-default" href="/app/releases/in/{{ prev.link }}"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;&nbsp;{{ prev.month }}</a>

            <a class="btn disabled btn-primary" style="border-color:{{ balance.color }}; background-color:{{ balance.color }}" href="/app/releases/in/{{ prev.link }}"><strong>{{ current_month ~ ' R$ ' ~ balance.value }}</strong></a>
            
            <a id="next-month" title="Avançar 1 mês" class="btn btn-default" href="/app/releases/in/{{ next.link }}">{{ next.month }}&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a>

            <a id="print-table" class="btn btn-default pull-right" href onclick="print()"><i class="glyphicon glyphicon-print"></i></a>
        </div>
    </div>

    <h5 class="visible-print no-margin-bottom">{{ report_title }} {{ current_month|upper }}</h5>
    <p class="visible-print">
        Saldo do mês R$ {{ balance.value }}</p>

    {% include 'macro.twig' with {messages: messages} %}

    <div class="row">
        <div class="col-md-12">
            {% include 'app/releases/table.twig' with {rows: rows, sum: sum} %}
        </div>
    </div>
    

    {% if extract|length %}
    <div class="row" style="margin-top:25px">
        <div class="col-md-12">
            {% include 'app/extract/table.twig' with {rows: extract} %}
        </div>
    </div>
    {% endif %}

    <p class="visible-print pull-right" style="margin-top:10px">{{ report_footer }}</p>

{% endblock %}