{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/releases/form">Adicionar</a>

            {% if hasReleasesForGroup %}
            <a class="btn btn-info" href="/app/releases/group">Agrupar</a>
            {% else %}
            <a title="Não há lançamentos disponíves para agrupar" class="btn btn-default" href>Agrupar</a>
            {% endif %}

            <a class="btn btn-link" href="/app/releases">Abertas</a>
            <a class="btn btn-link" href="/app/releases/i/all">Todas</a>
        </div>
    </div>

    <hr>

    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Vencimento</th>
    			<th>Número</th>
                <th class="hidden-sm hidden-xs">Categoria</th>
                <th>Pessoa</th>
                <th class="hidden-sm hidden-xs">Descrição</th>
                <th>Status</th>
    			<th style="min-width:80px" class="text-right">Valor R$</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
            
                {% if row.sum %}
                <tr>
                    <td colspan="6"><strong>Saldo em {{ row.month }}</strong></td>
                    <td class="text-right"><strong>{{ row.sum }}</strong></td>
                </tr>
                {% else %}

                <tr>
                    <td>{{ row.vencimento }}</td>
                    <td>
                        <a href="/app/releases/{{ row.id }}/logs">{{ row.number }}</a>
                    </td>
                    <td class="hidden-sm hidden-xs">{{ row.category }}</td>
                    <td>{{ row.people }}</td>
                    <td class="hidden-sm hidden-xs">{{ row.desc }}</td>
                    
                    <td style="{% if row.status == 'Vencido' %}font-weight:bold{% endif %}">
                        {{ row.status }}
                    </td>
                    
                    <td style="color:{{ row.color }}" class="text-right">
                        {{ row.value }}
                        {% if row.status != 'Pago' %}
                        <a id="release-liquidar-{{ loop.index }}" style="color:{{ row.color }}" title="Liquidar" href="/app/releases/{{ row.id }}/liquidar"><i class="glyphicon glyphicon-check">
                        </i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
    		{% endfor %}

    		{% if not rows|length %}
            <tr>
                <td colspan="7">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}