{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/releases/form">Adicionar</a>
            <a class="btn btn-link" href="/app/releases">Abertas</a>
            <a class="btn btn-link" href="/app/releases/i/all">Todas</a>
        </div>
    </div>

    <hr>

    {% include 'macro.twig' with {error:error} %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Vencimento</th>
    			<th>Número</th>
                <th>Categoria</th>
                <th>Pessoa</th>
                <th>Status</th>
    			<th class="text-right">Valor R$</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
                <td>{{ row.vencimento }}</td>
                <td>
                    <a href="/app/releases/{{ row.id }}/logs">{{ row.number }}</a>
                </td>
                <td>{{ row.category }}</td>
                <td>{{ row.people }}</td>
                
                <td style="{% if row.status == 'Vencido' %}font-weight:bold{% endif %}">
                    {{ row.status }}
                </td>
    			
                <td style="color:{{ row.color }}" class="text-right">
                    {{ row.value }}
                    {% if row.status != 'Pago' %}
                    <a style="color:{{ row.color }}" title="Liquidar" href="/app/releases/{{ row.id }}/liquidar"><i class="glyphicon glyphicon-check">
                    </i></a>
                    {% endif %}
                </td>
    		</tr>
    		{% endfor %}

    		{% if not rows|length %}
            <tr>
                <td colspan="6">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}