{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <div class="row hidden-print">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/releases/form">Adicionar</a>

            {% if hasReleasesForGroup %}
            <a class="btn btn-info" href="/app/releases/group">Agrupar</a>
            {% else %}
            <a title="Não há lançamentos disponíves para agrupar" class="btn btn-default" href>Agrupar</a>
            {% endif %}

            <a id="prev-month" style="margin-left:10px" title="Voltar 1 mês" class="btn btn-default" href="/app/releases/in/{{ prev.link }}"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;&nbsp;{{ prev.month }}</a>

            <a class="btn disabled btn-primary" href="/app/releases/in/{{ prev.link }}"><strong>{{ current_month }}</strong></a>
            
            <a id="next-month" title="Avançar 1 mês" class="btn btn-default" href="/app/releases/in/{{ next.link }}">{{ next.month }}&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a>

            <a id="print-table" class="btn btn-default pull-right" href onclick="print()"><i class="glyphicon glyphicon-print"></i></a>
        </div>
    </div>

    <h5 class="visible-print">{{ report_title }}</h5>
    <hr class="visible-print no-margin-top">
    <hr class="hidden-print">

    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th style="width:10%">Vencimento</th>
    			<th style="width:10%">Número</th>
                <th>Categoria</th>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th style="width:10%">Status</th>
    			<th style="width:10%;min-width:80px" class="text-right">Valor R$</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
            
                {% if row.sum %}
                <tr>
                    
                    <td colspan="6"><strong>Total</strong></td>
                    <td class="text-right"><strong style="color:{{ row.color }}">{{ row.sum }}</strong></td>
                </tr>
                {% else %}

                <tr>
                    <td>{{ row.vencimento }}</td>
                    <td>
                        <a href="/app/releases/{{ row.id }}/logs">{{ row.number }}</a>
                    </td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.people }}</td>
                    <td>{{ row.desc }}</td>
                    
                    <td style="{% if row.status == 'Vencido' %}font-weight:bold{% endif %}">
                        {{ row.status }}
                    </td>
                    
                    <td style="color:{{ row.color }}" class="text-right">
                        {{ row.value }}
                        {% if row.status != 'Pago' %}
                        <a id="release-liquidar-{{ loop.index }}" style="color:{{ row.color }}" title="Liquidar" href="/app/releases/{{ row.id }}/liquidar"><i class="glyphicon glyphicon-check hidden-print">
                        </i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
    		{% endfor %}

    		{% if not rows|length %}
            <tr>
                <td colspan="7">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>

    <p class="visible-print pull-right">{{ report_footer }}</p>

{% endblock %}