{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/releases/form">Adicionar</a>
        </div>
    </div>

    <hr>

    {% include 'macro.twig' with {error:error} %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Vencimento</th>
    			<th>Número</th>
                <th>Categoria</th>
                <th>Pessoa</th>
                <th>Status</th>
    			<th class="text-right">Valor</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
                <td>{{ row.vencimento }}</td>
                <td>
                    <a href="/app/releases/{{ row.id }}/logs">{{ row.number }}</a>
                </td>
                <td>{{ row.category }}</td>
                <td>{{ row.people }}</td>
                
                <td style="{% if row.status == 'Vencido' %}font-weight:bold{% endif %}">
                    {{ row.status }}
                </td>
    			
                <td style="color:{{ row.color }}" class="text-right">{{ row.value }}</td>
    		</tr>
    		{% endfor %}

    		{% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}