{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

    <style type="text/css">
    body {
        min-width: 750px
    }
    </style>

    <div class="row hidden-print" style="margin-bottom:20px">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="/app/releases/form">Adicionar</a>

            {% if hasReleasesForGroup %}
            <a class="btn btn-info" href="/app/releases/group">Agrupar</a>
            {% else %}
            <a title="Não há lançamentos disponíves para agrupar" class="btn btn-default" href>Agrupar</a>
            {% endif %}

            <a id="prev-month" style="margin-left:10px" title="Voltar 1 mês" class="btn btn-default" href="/app/releases/in/{{ prev.link }}"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;&nbsp;{{ prev.month }}</a>

            <a class="btn disabled btn-primary" style="border-color:{{ sum.color }}; background-color:{{ sum.color }}" href="/app/releases/in/{{ prev.link }}"><strong>{{ current_month ~ ' R$ ' ~ sum.sum }}</strong></a>
            
            <a id="next-month" title="Avançar 1 mês" class="btn btn-default" href="/app/releases/in/{{ next.link }}">{{ next.month }}&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a>

            <a id="print-table" class="btn btn-default pull-right" href onclick="print()"><i class="glyphicon glyphicon-print"></i></a>
        </div>
    </div>

    <h5 class="visible-print no-margin-bottom">{{ report_title }}</h5>
    <p class="visible-print">{{ 'Saldo do mês ' ~ current_month ~ ' R$ ' ~ sum.sum }}</p>

    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-striped table-bordered no-margin-bottom">
    	<thead>
    		<tr>
    			<th style="width:10%">Vencimento</th>
    			<th style="width:10%">Número</th>
                <th>Categoria</th>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th style="width:10%">Status</th>
                <th style="width:10%;min-width:100px" class="text-right">Aberto R$</th>
    			<th style="width:10%;min-width:120px" class="text-right">Liquidado R$</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
            
                {% if row.sum %}
                <tr>
                    <td colspan="7"><strong>Total</strong></td>
                    <td class="text-right"><strong style="color:{{ row.color }}">{{ row.sum }}</strong></td>
                </tr>
                {% else %}

                <tr>
                    <td>{{ row.vencimento }}</td>
                    <td>
                        <a href="/app/releases/{{ row.id }}/logs">{{ row.number }}</a>
                    </td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.people }}</td>
                    <td>{{ row.desc }}</td>
                    
                    <td style="{% if row.status == 'Vencido' %}font-weight:bold{% endif %}">
                        {{ row.status }}
                    </td>

                    <td class="text-right" style="color:{{ row.color }}">{{ row.signal ~ row.valor_aberto }}</td>
                    <td class="text-right" style="color:{{ row.color }}">{{ row.signal ~ row.valor_liquidado }}</td>
                </tr>
                {% endif %}
    		{% endfor %}

    		{% if not rows|length %}
            <tr>
                <td colspan="8">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>

    <p class="visible-print pull-right" style="margin-top:10px">{{ report_footer }}</p>

{% endblock %}