{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

    <ol class="breadcrumb">
        <li>Lançamento nº <strong>{{ release.number }}</strong></li>
        
        {% if release.parent_id %}
        <li><a href="/app/releases/{{ release.parent_id }}/logs">Lançamento</a></li>
        {% endif %}

        {% if canLiquidar %}
        <li><a href="/app/releases/{{ release.id }}/liquidar">Liquidar</a></li>
        {% endif %}

        {% if canDesfazer and not release.parent_id %}
        <li><a onbsclick="return confirm('Deseja realmente DESFAZER a última ação?')" href="/app/releases/{{ release.id }}/desfazer" style="color:red">Desfazer</a></li>
        {% endif %}

        {% if canUngroup %}
        <li><a onbsclick="return confirm('Deseja realmente CANCELAR o agrupamento?')" href="/app/releases/{{ release.id }}/ungroup" style="color:red">Desfazer Agrupamento</a></li>
        {% endif %}

        {% if canEditar and not isGroup %}
        <li><a href="/app/releases/{{ release.id }}/form">Editar</a></li>
        <li><a onbsclick="return confirm('Deseja realmente APAGAR este lançamento?')" style="color:red" href="/app/releases/{{ release.id }}/delete">Apagar este lançamento</a></li>
        <li><a onbsclick="return confirm('Deseja realmente APAGAR este + as outras parcelas deste lançamento?')" style="color:red" href="/app/releases/{{ release.id }}/delete_all">Apagar todos os lançamentos deste documento</a></li>
        {% endif %}
    </ol>

    {% include 'macro.twig' with {messages: messages} %}

    <table class="table">
    	<thead>
    		<tr>
                <th>Ação</th>
                <th>Data</th>
                <th class="text-right">Valor</th>
    			<th>Usuário</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
                <td>{{ row.action }}</td>
                <td>{{ row.date }}</td>
                <td class="text-right">{{ row.value }}</td>
                <td>{{ row.user }}</td>
    		</tr>
    		{% endfor %}

    		{% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>

    {% if releases|length %}
    <ol class="breadcrumb">
        <li><a onclick="$('.table-releases').toggle(); return false;" href>Lançamentos do agrupamento</a></li>
    </ol>

    <table class="table table-releases table-striped" style="display:none">
        <thead>
            <tr>
                <th>Vencimento</th>
                <th>Número</th>
                <th class="hidden-sm hidden-xs">Categoria</th>
                <th>Pessoa</th>
                <th class="hidden-sm hidden-xs">Descrição</th>
                <th style="min-width:80px" class="text-right">Valor R$</th>
            </tr>
        </thead>

        <tbody>
            {% for row in releases %}
            <tr>
                <td>{{ row.vencimento }}</td>
                <td><a href="/app/releases/{{ row.id }}/logs">{{ row.number }}</a></td>
                <td>{{ row.category }}</td>
                <td>{{ row.people }}</td>
                <td>{{ row.desc }}</td>
                <td class="text-right">{{ row.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}