{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}

    <style type="text/css">
    body {
        min-width: 500px
    }
    </style>

    <div class="row hidden-print" style="margin-bottom:20px">
        <div class="col-xs-12">
        {% if release.child_id %}
        <a class="btn btn-default" href="/app/releases/{{ release.child_id }}/logs">Lançamento</a>
        {% endif %}

        {% if canLiquidar %}
        <a class="btn btn-default" href="/app/releases/{{ release.id }}/liquidar">Liquidar</a>
        <a class="btn btn-default" href="/app/releases/{{ release.id }}/prorrogar">Prorrogar</a>
        <a class="btn btn-default" href="/app/releases/{{ release.id }}/parcelar">Parcelar</a>
        <a class="btn btn-link" href="javascript:history.go(-1)">Voltar</a>
        {% endif %}

        {% if canDesfazer and not release.child_id %}
        <a class="btn btn-default" onclick="return confirm('Deseja realmente DESFAZER a última ação?')" href="/app/releases/{{ release.id }}/desfazer" style="color:red">Desfazer</a>
        {% endif %}

        {% if canUngroup %}
        <a class="btn btn-default" onclick="return confirm('Deseja realmente CANCELAR o agrupamento?')" href="/app/releases/{{ release.id }}/ungroup" style="color:red">Desfazer Agrupamento</a>
        {% endif %}

        {% if canEditar and not isGroup %}
        


        <a id="delete-releases" class="btn btn-default pull-right" onclick="return confirm('Deseja realmente APAGAR este + as outras parcelas deste lançamento?')" style="color:red;margin-left:4px" href="/app/releases/{{ release.id }}/delete_all">
            <i class="glyphicon glyphicon-trash"></i> Todos
        </a>
        
        <a id="delete-release" class="btn btn-default pull-right" onclick="return confirm('Deseja realmente APAGAR este lançamento?')" style="color:red;margin-left:4px" href="/app/releases/{{ release.id }}/delete">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
        
        <a id="edit-release" class="btn btn-default pull-right" href="/app/releases/{{ release.id }}/form">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        {% endif %}
        </div>
    </div>

    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-bordered no-margin-bottom">
    	<thead>
    		<tr>
                <th>Ação</th>
                <th>Data</th>
                <th class="text-right">Valor</th>
    			<th>Usuário</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
                <td>{{ row.action }}</td>
                <td>{{ row.date }}</td>
                <td class="text-right">{{ row.value }}</td>
                <td>{{ row.user }}</td>
    		</tr>
    		{% endfor %}

    		{% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>

    {% if parent and isParcelamento %}
    <ol class="breadcrumb">
        <li><a onclick="$('.table-releases').toggle(); return false;" href>Lançamento que foi parcelado</a></li>
    </ol>

    <table class="table table-releases table-striped" style="display:none">
        <thead>
            <tr>
                <th>Vencimento</th>
                <th>Número</th>
                <th class="hidden-sm hidden-xs">Categoria</th>
                <th>Pessoa</th>
                <th class="hidden-sm hidden-xs">Descrição</th>
                <th style="min-width:80px" class="text-right">Valor R$</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ parent.vencimento }}</td>
                <td><a href="/app/releases/{{ parent.id }}/logs">{{ parent.number }}</a></td>
                <td>{{ parent.category }}</td>
                <td>{{ parent.people }}</td>
                <td>{{ parent.desc }}</td>
                <td class="text-right">{{ parent.value }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if releases|length %}
    <ol class="breadcrumb">
        <li><a onclick="$('.table-releases').toggle(); return false;" href>Lançamentos do agrupamento</a></li>
    </ol>

    <table class="table table-releases table-striped" style="display:none">
        <thead>
            <tr>
                <th>Vencimento</th>
                <th>Número</th>
                <th class="hidden-sm hidden-xs">Categoria</th>
                <th>Pessoa</th>
                <th class="hidden-sm hidden-xs">Descrição</th>
                <th style="min-width:80px" class="text-right">Valor R$</th>
            </tr>
        </thead>

        <tbody>
            {% for row in releases %}
            <tr>
                <td>{{ row.vencimento }}</td>
                <td><a href="/app/releases/{{ row.id }}/logs">{{ row.number }}</a></td>
                <td>{{ row.category }}</td>
                <td>{{ row.people }}</td>
                <td>{{ row.desc }}</td>
                <td class="text-right">{{ row.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}