{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>Category</th>
    			<th>Emissão</th>
    			<th>Vencimento</th>
    			<th>Pagamento</th>
    			<th>Descrição</th>
    			<th class="text-right">Valor</th>
    			<th class="text-right">Valor Pago</th>
                <th>Número</th>
                <th>Status</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.category }}</td>
                <td>{{ row.data_emissao }}</td>
                <td>{{ row.data_vencimento }}</td>
                <td>{{ row.data_pagamento }}</td>
                <td>{{ row.description }}</td>
                <td class="text-right">{{ row.value }}</td>
                <td class="text-right">{{ row.value_pago }}</td>
                <td>{{ row.number }}</td>
                <td>{{ row.status }}</td>
            </tr>
            {% endfor %}
    	</tbody>
    </table>
{% endblock %}