{% extends 'app/base.twig' %}

{% block pageTitle title %}

{% block app %}
    
    {% include 'macro.twig' with {messages: messages} %}

    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th style="width:160px">Data</th>
                <th>Description</th>
                <th>Usuário</th>
    			<th style="width:160px">Restauração</th>
    		</tr>
    	</thead>

    	<tbody>
    		{% for row in rows %}
    		<tr>
    			<td>{{ row.date }}</td>
                <td>{{ row.description }}</td>
    			<td>{{ row.user }}</td>
                <td>
                    {% if row.restored_at %}
                    {{ row.restored_at }}
                    {% endif %}

                    {% if row.can_restore %}
                    <a onbsclick="return confirm('Deseja realmente RESTAURAR o registro?')" href="/app/logs/{{ row.id }}/restore" style="color:red">
                        Restaurar
                    </a>
                    {% endif %}
                </td>
    		</tr>
    		{% endfor %}

            {% if not rows|length %}
            <tr>
                <td colspan="5">Sem registros.</td>
            </tr>
            {% endif %}
    	</tbody>
    </table>
{% endblock %}